@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,700;0,900;1,400;1,700;1,900&display=swap');

/* ---------MOBILE--------- */
@media (max-width: 450px) {
    .mainDiv {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-content: center;
        align-items: center;
        width: 100vw;
        margin-top: 15vh;
    }

    h2 {
        font-family: 'Montserrat';
        font-size: 35px;
        text-align: center;
        color: #000000;
        font-weight: 800;
        width: 60vw;
    }

    .mainP {
        font-family: 'Montserrat';
        font-size: 16px;
        text-align: left;
        color: #666666;
        font-weight: 400;
        width: 80vw;
        margin-bottom: 5vh; 
        
    }
}

/* ---------DESKTOP & TABLET--------- */
@media (min-width: 451px) {
    .mainDiv {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-content: center;
        align-items: center;
        width: 100vw;
        margin-top: 20vh;
    }

    h2 {
        font-family: 'Montserrat';
        font-size: 45px;
        text-align: left;
        color: #000000;
        font-weight: 800;
        width: 60vw;
    }

    .mainP {
        font-family: 'Montserrat';
        font-size: 22px;
        text-align: left;
        color: #666666;
        font-weight: 400;
        width: 60vw;
        margin-bottom: 10vh; 
        
    }
}