
/* ---------DESKTOP & TABLET--------- */
@media (min-width: 451px) {

    .mainDiv {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-content: center;
        align-items: center;
        width: 100vw;
    }

    .descDiv {
        display: flex;
        flex-direction: column;
    }

    .descH2 {
        font-family: 'Montserrat';
        font-size: 45px;
        text-align: left;
        color: #E0E0E0;
        font-weight: 800;
        width: 60vw;
    }

    .descP {
        font-family: 'Merriweather';
        font-size: 14px;
        text-align: left;
        color: #666666;
        font-weight: 400;
        padding-left: 5vw;
        margin-bottom: 10vh;
        width: 355px;
        line-height: 175%;
    }

    /* ---------CARROUSEL-------- */

    .descImg {
        z-index: 1;
        width: 100%;
        max-width: 890px;
    }


    .carouselContainer {
        position: relative;
    }

    .carouselButtons {
        position: absolute;
        bottom: 45%;
        left: 2%;
        right: 2%;
        text-align: center;
        display: none;
    }

    .carouselContainer:hover .carouselButtons {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .carouselButtons button {
        background-color: transparent;
        border: none;
        cursor: pointer;
        font-size: 24px;
        color: #4D4D4D;
    }

    .carouselButtons .chevron {
        font-size: 60px;
    }


    /* ---------------InfoDiv-------------- */

    .infoDiv {
        background-color: #999999;
        width: 100vw;
        height: max-content;
        min-height: 90vh;
    }

    .titleDiv {
        display: flex;
        text-align: left;
        padding: 5%;
        justify-content: center;
    }

    .selectedTitle {
        display: flex;
        margin: 0;
        background-color: transparent;
        border: none;
        width: 20vw;
        height: 115px;
        border-bottom: 2px solid #FFF;
        color: #FFF;
        font-family: Montserrat;
        font-size: 18px;
        font-style: normal;
        font-weight: 400;
        line-height: 150%;
        letter-spacing: 3.5px;
        text-transform: uppercase;
        text-align: left;
    }

    .titleButton {
        display: flex;
        margin: 0;
        background-color: transparent;
        border: none;
        width: 20vw;
        height: 115px;
        border-bottom: 1px solid #6D6D6D;
        color: #6D6D6D;
        font-family: Montserrat;
        font-size: 18px;
        font-style: normal;
        font-weight: 400;
        line-height: 150%;
        letter-spacing: 3.5px;
        text-transform: uppercase;
        text-align: left;
    }

    .selectorDiv {
        margin: 0;
        border-bottom: 1px solid #6D6D6D;
    }

    .selectorOff {
        width: 10px;
        height: 10px;
        background: #6D6D6D;
    }

    .selectorOn {
        width: 10px;
        height: 36px;
        background: #000000;
    }

    .selectorOff,
    .selectorOn {
        width: 10px;
        background: #6D6D6D;
        transition: height 0.3s ease;
    }

    .selectorOn {
        height: 36px;
        background: #000000;
    }


    .titleText {
        width: 185px;
        height: 36px;
        padding-left: 20px;
        border-left: 1px solid #6D6D6D;
    }

    .contentDiv {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding: 5%;
        padding-top: 0;
        text-align: left;
    }

    .summaryDiv {
        width: 33.33%;
        padding-right: 5vw;
        color: #FFF;
        font-family: Montserrat;
        font-size: 18px;
        font-style: normal;
        font-weight: 400;
        line-height: 175%;
    }

    .textDiv {
        width: 66.66%;
        padding-right: 3vw;
        font-family: Montserrat;
        color: #FFF;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 175%;
    }

    .koreanText {
        font-family: 'Noto sans korean';
        /* font-size: 18px; */
        font-style: normal;
        font-weight: 900;
        line-height: 175%;
    }

}